# Reshaping Data

In [2]:
library(reshape2)

In [3]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [4]:
mtcars$carname <- rownames(mtcars)
# melt separates the measure.vars and retains the id
carMelt <- melt(mtcars, id=c('carname', 'gear', 'cyl'), measure.vars=c("mpg", "hp"))
head(carMelt, n=3)
tail(carMelt, n=3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

   carname       gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

In [5]:
cylData <- dcast(carMelt, cyl ~ variable, length)
# dcast actually summarises the data such that it sums how many measurements of each cyl for mpg and hp
# putting the length states that how many measurements are taken
cylData

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [6]:
cylData <- dcast(carMelt, cyl ~ variable, mean)
# dcast actually summarises the data such that it sums how many measurements of each cyl for mpg and hp
# putting the length states that how many measurements are taken
# this is the same as SQL avg(mpg), avg(hp) group by cyl
cylData

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

# Averaging values

In [7]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [8]:
# apply to count along the index spray, the function sum
tapply(InsectSprays$count, InsectSprays$spray, sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [9]:
spIns = split(InsectSprays$count, InsectSprays$spray)
spIns

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

In [10]:
# apply sum to each of the index
sprCount = lapply(spIns, sum)

In [11]:
# produces a vector
unlisted_spr <- unlist(sprCount)
unlisted_spr

  A   B   C   D   E   F
174 184  25  59  42 200

In [12]:
# vector is like javascript array which each values has a string index
# to read a value in a vector, use the following:

unlisted_spr['A']

  A
174

In [13]:
# sapply is the same as lapply. however it simplifies the result and returns a vector instead
sapply(spIns, sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [14]:
library(plyr)

#result of ddply is a list

ddplyResult <- ddply(InsectSprays,.(spray), summarize, mySum=sum(count))
ddplyResult

  spray mySum
1 A     174
2 B     184
3 C      25
4 D      59
5 E      42
6 F     200

In [18]:
ddplyResult <- ddply(InsectSprays,.(spray), summarize, sum=ave(count, FUN=sum))
ddplyResult

   spray sum
1  A     174
2  A     174
3  A     174
4  A     174
5  A     174
6  A     174
7  A     174
8  A     174
9  A     174
10 A     174
11 A     174
12 A     174
13 B     184
14 B     184
15 B     184
16 B     184
17 B     184
18 B     184
19 B     184
20 B     184
21 B     184
22 B     184
23 B     184
24 B     184
25 C      25
26 C      25
27 C      25
28 C      25
29 C      25
30 C      25
⋮  ⋮     ⋮
43 D      59
44 D      59
45 D      59
46 D      59
47 D      59
48 D      59
49 E      42
50 E      42
51 E      42
52 E      42
53 E      42
54 E      42
55 E      42
56 E      42
57 E      42
58 E      42
59 E      42
60 E      42
61 F     200
62 F     200
63 F     200
64 F     200
65 F     200
66 F     200
67 F     200
68 F     200
69 F     200
70 F     200
71 F     200
72 F     200